body {
	/*background-color: #fefefe;*/
	font-family:  Raleway, Arial, 'Open Sans', sans-serif;
	font-size: 14px;
	width: 100%;
	margin: 0px;
}
.wrapper {
	position: relative;
	width: 1900px;
	margin-left: auto;
	margin-right: auto;
}
.header {height: 750px;
	background-image: url('background.jpg');
	background-color: #b6b6b6;
}
.top {margin-left: auto;
	margin-right: auto;
	width: 1170px;
	height: 102px;
	overflow: hidden;
	border-bottom: 1px solid #4e5066;
}
.title {padding: 40px 0px;
	text-align: left;
	float: left;
}
.navigation {float: right;
	overflow: hidden;
	display: inline-block;
}
.navigation li {list-style: none;
	padding: 37px 0px 37px 60px;
	float: right;
	font-family: Raleway, sans-serif;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
}
.navigation li a {
	text-decoration: none;
	color: #cacaca;
}
.navigation li a:hover {
	color: #e84545;
}

.topic {height: 650px;
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	text-align: center;
}
.topic_center {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}	
.main {
 	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 65px;
	line-height: 71px;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 120px;
}
.main_1 {
	font-family: 'raleway', sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 33px;
	color: #ffffff;
	padding-top: 30px;
	height: 135px;
}
.topic_center p {
	width: 200px;
	height: 46px;
	background-color: #e84545;
	border-radius: 2px;
}

.teasers {
	position: relative;
}
.blocks {
	width: 1170px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 50px 0px;
}
.icon {
	width: 370px;
	height: 231px;
	float: left;
	padding-top: 70px;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-bag {
    width: 72px;
    height: 60px;
    background-position: -5px -5px;
}

.sprite-bulb {
    width: 41px;
    height: 60px;
    background-position: -87px -5px;
}

.sprite-cloud {
    width: 79px;
    height: 60px;
    background-position: -5px -75px;
}

.sprite-pen {
    width: 60px;
    height: 60px;
    background-position: -94px -75px;
}

.sprite-science {
    width: 56px;
    height: 60px;
    background-position: -138px -5px;
}

.sprite-tv {
    width: 73px;
    height: 60px;
    background-position: -164px -75px;
}

.icon h3 {
	font-size: inherit;
	font-weight: 700;
	text-transform: uppercase;
}
.icon h3 a {
	text-decoration: none;
	color: #2d3033;
}
.icon h3 a:hover {
	color: #3d23be;
}
.icon p {
	font-family: 'raleway', sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #6c7279;
	padding: 0px 30px;
}
.images {position: relative;
	overflow: hidden;
	background: #2b2e4a;
}

.pict {float: left;
	width: 25%; 
	height: 350px;
	outline: 1px solid white;
	position: relative;
}
.pict:hover {
	outline: 10px solid white;
	outline-offset: -10px;
}
.pict3_text {
	position: absolute;
 	top: 130px;
 	left: 170px;
 	color: #ffffff;
 	text-align: center;
}
.pict3_text h4 {
	font-size: inherit;
}

/*.team {
	background-color: #ffffff;
	position: relative;
}
.team_center {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
	width: 1170px;
}
.person {
	width: 270px;
}*/

.info {
	height: 250px;
	background-color: #3a3e64;
	position: relative;
}
.info_centr {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
	width: 1170px;
	position: relative;
}
.about {
	padding-top: 60px;
	float: left;
	width: 33.333%;
}
.about h2 {
	text-transform: uppercase;
}
.share_icons {
	width: 134px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}
.info_centr h2 {
	font-size: inherit;
	font-weight: 700;
	color: #d8d8e0;
}
.info_centr p {
	color: #83859d;
	line-height: 22.5px;
}

.footer {
	height: 95px;
	background: #313454;
	text-align: center;
}
.footer_info {
	width: 430px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	height: 95px;
}
.footer_info p {
	color: #808080;
	line-height: 22.5px;
}
.footer_info span {
	color: #f1f1f4;
}